body {
    margin: 0;
    padding: 0;
    height: max-content;
}

#navbar {
    float: left;
    width: 15%;
    height: 100vh;

    text-align: center;

    background-color: blue;
}

#navbar a {
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 3px solid black;
    display: inline-block;
    width: 85%;

    color: yellow;
    font-size: 18pt;
    text-decoration: none;
    font-family: "Lato", "sans-serif";
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar p:first-of-type {
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 15px;
}

#navbar p {
    color: yellow;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: "Lato", "sans-serif";
}

#header {
    height: 15vh;
    width: calc(85% - 5px);
    border-left: 5px solid black;
    background-color: blue;
    text-align: center;
    align-content: center;

    font-family: "Lato", "sans-serif";
    font-weight: 400;
    font-size: 34pt;
    color: yellow;
}

#content {
    float: right;
    display: inline;
    background-color: black;
    width: 85%;
    height: 85vh;
}

li {
    color: white;
    font-family: "Lato", "sans-serif";
    padding-bottom: 5px;
}