#img1, #img2 {
    display: inline-block;
    width: 45%;
    padding-left: 2.4%;
    padding-right: 2.4%;
}

#content {
    text-align: center;
}

#content a:link {
    color: #ffff00;
}

#content a:visited {
    color: #aaaa00;
}
